// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'welcome.scss';

@import 'layout.scss';

@import 'show.scss';

@import 'about.scss';
/*  Dashboard */
.dashboard-box
{
    display: block;
    width: 200px;

    margin-left: auto;
    margin-right: auto;
}

/*  admin forms  */
.forms-box {
    margin-left: 25%;
}

/* show page */
.button-box {
    margin-left: 25%;
}