.navbar-nav li a {
    font-size: 24px;
    
}

.bg-white {
    background-color: black !important;
}

.navbar {
    height: 75%;
    position: relative;
}

.navbarz a img {
    width: 350px;
}

.navbar-nav li
{
    margin-left: 15%;   
    font-size: 20px;
    width: 150px;
}

.navbar-nav li a 
{
    color: white;
}

.nav-item {
    margin-top: -25%;
}