/* Post of blog and events */
.posts-box 
{
    margin-left: 25%;
    width: 750px;
  
    padding-left: 3%;
    padding-right: 3;
}
.title-of-posts
{
    margin-left: 20%;
    margin-top: 3%;
    font-size: 42px;
}

.margin-from-top {
    margin-top: 5%;
}

.padding-from-bottom
{
    padding-bottom: 5%;
}

.python-button {
    background-color: #306998 !important;
    color: #FFD43B !important;
}

code {
   
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .posts-box {
      width: auto;
      margin-left: 5%;
      margin-right: 5%;
    }
  }